BasedOnStyle: GNU
BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 200
IndentWidth: 4
TabWidth: 4
UseTab: Always
IndentCaseLabels: True

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false

AlignConsecutiveShortCaseStatements:
  Enabled: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

BreakBeforeBraces: Custom
BraceWrapping: 
  AfterControlStatement: Never
  AfterFunction: true
